mixin club-member()
  section.club-member
    h2.visually-hidden Club members and partners
    .container
      .club-member__wrap
        .club-member__item
          p.club-member__text Would like to&nbsp;become a&nbsp;member, please contact&nbsp;us
          a(href= "mailto:support@notab.com").club-member__link support@notab.com
        .club-member__item
          p.club-member__text Already a&nbsp;partner?
          a(href="#").club-member__link Login
