mixin easier-ordering()
  section.easier-ordering
    .container
      .easier-ordering__wrap
        .easier-ordering__text-content
          h2.easier-ordering__title.heading Easier ordering. Happier guests.
          p.easier-ordering__text.text NoTab makes it simple for patrons to easily
        .easier-ordering__image-block
          +picture("content", "ipone-ordering", "png", 868, 1039, "ipone ordering")
          .easier-ordering__highlight
          p.easier-ordering__image-text No more lost or forgotten credit cards
          p.easier-ordering__image-text No more lost or forgotten credit cards
          p.easier-ordering__image-text No more split your tab
          p.easier-ordering__image-text Skip the line
