mixin id-scanner()
  section.id-scanner
    .id-scanner__wrap
      .id-scanner__fon-image
          +picture("content", "louis-hansel-shotsoflouis", "jpg", 1440, 836, "club-stage")
      .id-scanner__screen
      .id-scanner__verification
        .container
          .id-scanner__verification-content
            .id-scanner__phones
              .id-scanner__phone-fon
              .id-scanner__phone
                +picture("content", "verification-1", "png", 333, 668, "phone-verification")
              .id-scanner__phone
                +picture("content", "verification-2", "png", 333, 668, "phone-verification")
            .id-scanner__content-text
              h2.id-scanner__title.heading ID&nbsp;Scanner
              p.id-scanner__text.text
                | Scan, verify, and collect data on each person that walks through your door
                | to humanize your data. You also get a digital 86 list as well as a citywide ban list
                | to keep your venue safe.
