mixin intro()
  section.intro
    .container
      .intro__wrap
        .intro__text-block
          h1.intro__title
            span A platform
            | that works smarter
          .intro__subtitle-block
            .intro__small-highlight
            .intro__slash
            p.intro__subtitle
               span  NoTab allows bars & nightclubs
               | to manage, understand, and grow their business from a single dashboard
        .intro__img-block
          .intro__image-shadow
          .intro__big-highlight
          .intro__image
            +picture("content", "iphone-intro", "png", 333, 668, "iphone-intro")
      .intro__download
        p.intro__download-slogan DOWNLOAD OUR APP
        .apps.apps--small
          a(href="#").apps__item.apps__item--app-store
            +picture("content", "app-store", "png", 136, 32, "app store")
          a(href="#").apps__item
            +picture("content", "google-play", "png", 158, 33, "google play")
