mixin notab()
  section.notab
    h2.visually-hidden NOTAB
    .notab__wrap
      .notab__fon-string-block
        .notab__fon-string
          img(src="img/svg/notab-big-string.svg" width="2099", height="1106" alt="string notab")
        .notab__fon
      .notab__image-block
        +picture("content", "iphone-notab", "png", 859, 429, "iphone notab")
