mixin our-mission()
  section.our-mission
    .container
      .our-mission__wrap
        .our-mission__image
          +picture("content", "iphone-mission", "png", 1000, 513, "iphone")
        .our-mission__text-content
          .our-mission__highlight
          h2.our-mission__title.heading Our&nbsp;mission and&nbsp;vision
          p.our-mission__text.text
            | While technology is our sweet spot, we’ve developed our vision alongside
            | our customers to ensure your everyday problems are solved through simplistic tools.
            | And as your business grows, we’ll grow right alongside with you.
