mixin tool-integration()
  section.tool-integration
    .container
      .tool-integration__wrap
        .tool-integration__text-content
          h2.tool-integration__title.heading BI Tool Integration
          p.tool-integration__text.text
            | We use Business Intelligence Tool that allows you to be updated
            | what is happening in your business just by one click. Track revenue
            | and profit by one click.
        .tool-integration__drawing
          div
            +picture("content", "tool-integration-1", "png", 296, 60, "diagram")
          div
            +picture("content", "tool-integration-2", "png", 195, 118, "diagram")
          div
            +picture("content", "tool-integration-3", "png", 193, 116, "diagram")
          div
            +picture("content", "tool-integration-4", "png", 195, 119, "diagram")
          div
            +picture("content", "tool-integration-5", "png", 183, 194, "diagram")
          div
            +picture("content", "tool-integration-6", "png", 234, 46, "diagram")
          div
            +picture("content", "tool-integration-7", "png", 253, 151, "diagram")
