mixin use-cookie()
  section.use-cookie()
    .use-cookie__wrap
      p.use-cookie__text
       | We use cookie to improve your experience on our site. By using our site you consent cookies.
      button.use-cookie__button OK
