.generate-code {
  padding: 42px 0 96px 0;

  @include vp-767 {
    padding: 65px 0 58px 0;
  }

  &__wrap {
    display: grid;
  }

  &__fon-text,
  .container {
    grid-area: 1/-1;
  }

  &__fon-text {
    position: relative;

    width: 134.65%;
    margin-left: -17.36%;
    margin-top: calc(108px + 100vw / 1440);
    margin-bottom: auto;

    @include vp-767 {
      width: 127.73%;
      margin-left: -13.87%;
      margin-top: calc(292px - 100vw / 375);
    }

    &::before {
      content: "";
      display: table;

      padding-bottom: 25.53%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-767 {
      max-width: 345px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__image-block {
    position: relative;

    margin-left: 10px;
    margin-bottom: 6.45%;

    @include vp-1023 {
      margin-left: -25px;
    }

    @include vp-767 {
      order: 1;

      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 86px;
    }

    img {
      position: relative;
      z-index: 2;

      width: 333px;
      height: 668px;

      object-fit: cover;

      @include vp-767 {
        width: 182px;
        height: 364px;
      }
    }
  }

  &__highlight {
    position: absolute;
    left: -350px;
    top: -147px;

    width: 1031px;
    height: 962px;
    border-radius: 50%;

    background: linear-gradient(12.08deg, $color-shocking-pink 2.82%, $color-navy-blue 97.06%);
    opacity: 0.15;

    filter: blur(312px);

    @include vp-767 {
      left: -62px;
      top: 52px;

      width: 309px;
      height: 288px;

      filter: blur(45px);
    }
  }

  &__scan-code {
    position: absolute;
    top: 196px;
    right: -327px;

    display: flex;
    flex-direction: column;

    width: 284px;
    height: 111px;

    @include vp-1023 {
      right: -195px;

      width: 175px;
      height: 111px;
    }

    @include vp-767 {
      top: auto;
      bottom: 0;
      right: -73px;

      width: 142px;
      height: 141px;
    }

    svg {
      position: absolute;

      @include vp-767 {
        top: 15px;
        right: -5px;

        transform: rotate(37deg);
      }
    }

    p {
      margin: 0;
      margin-left: 76px;
      margin-top: auto;

      font-family: $ff--montserrat;
      font-size: 21px;
      font-weight: 700;
      line-height: 26px;

      @include vp-1023 {
        margin-left: 20px;
      }

      @include vp-767 {
        margin-left: 0;

        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__text-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    @include vp-767 {
      flex-direction: column;
      order: 0;
      align-items: flex-start;

      margin-bottom: 70px;
    }
  }

  &__title {
    max-width: 328px;
    margin-bottom: 0;

    @include vp-1023 {
      margin-bottom: 0;
      margin-right: 30px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__text {
    max-width: 293px;
  }
}
