.main-nav {
  position: relative;
  z-index: 2;

  display: flex;

  @include vp-767 {
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    margin-right: 108px;
    margin-left: -15px;

    @include vp-767 {
      margin-left: 0;
      margin-right: 30px;
    }

    div:first-child {
      width: 107px;
      height: 109px;
      margin-right: 8px;

      @include vp-767 {
        width: 52px;
        height: 53px;
        margin-right: 4px;
      }
    }

    div:last-child {
      margin-top: 46px;
      width: 96px;
      height: 25px;

      @include vp-767 {
        width: 46px;
        height: 12px;
        margin-top: 22px;
      }
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__login {
    display: flex;

    margin-top: 46px;

    @include vp-767 {
      margin-top: 11px;
    }

    svg {
      margin-right: 12px;

      color: $color-default-white;

      @include vp-767 {
        display: none;
      }
    }

    span {
      text-decoration: underline;
      text-underline-offset: 4px;

      @include vp-767 {
        font-size: 14px;
        line-height: 19px;
        text-underline-offset: 6px;
      }
    }
  }
}
