.our-mission {
  padding: 112px 0 129px 0;

  @include vp-767 {
    padding: 55px 0 181px 0;
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;

    @include vp-767 {
      flex-direction: column;
      justify-content: flex-start;

      max-width: 345px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    position: relative;

    width: 80.65%;
    margin-left: -28.06%;
    margin-top: 0.65%;
    margin-bottom: auto;

    @include vp-767 {
      order: 2;

      width: 346px;
      height: 173px;
      margin-left: 0;
      margin-right: -7px;
      margin-bottom: 0;

      transform: rotate(-90deg);
    }

    &::before {
      content: "";
      display: table;

      padding-bottom: calc(100% / (1000 / 513));

      @include vp-767 {
        display: none;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__text-content {
    position: relative;

    width: 33.95%;
    margin-left: 13.55%;

    @include vp-767 {
      width: 100%;
      margin-left: 0;
      margin-bottom: 249px;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    max-width: 358px;
  }

  &__text {
    max-width: 315px;
  }

  &__highlight {
    position: absolute;
    top: 7px;
    left: 197px;

    width: 85px;
    height: 85px;

    background-color: $color-shocking-pink;
    opacity: 0.7;

    filter: blur(40px);

    @include vp-767 {
      top: -28px;
      left: -24px;
    }
  }
}
