.tool-integration {
  padding: 102px 0 109px 0;

  @include vp-767 {
    padding: 72px 0 17px 0;
  }

  &__wrap {
    display: flex;
    flex-wrap: nowrap;

    @include vp-767 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text-content {
    flex-shrink: 0;

    width: 522px;
    padding-top: 89px;

    @include vp-1279 {
      padding-top: 0;
    }

    @include vp-1023 {
      width: 345px;
    }

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 395px;
  }

  &__drawing {
    position: relative;

    flex-shrink: 0;

    width: 712px;
    height: 522px;

    @include vp-1279 {
      margin-left: -18%;
    }

    @include vp-1023 {
      margin-left: -250px;
    }

    @include vp-767 {
      width: 543px;
      height: 246px;
      margin-left: 0;
    }

    div {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    div:nth-child(1) {
      top: 466px;
      left: 422px;
      z-index: 1;

      width: 281px;
      height: 56px;

      @include vp-767 {
        top: 187px;
        left: 247px;
        z-index: 1;

        width: 296px;
        height: 59px;
      }
    }

    div:nth-child(2) {
      top: 393px;
      left: 182px;
      z-index: 1;

      width: 194px;
      height: 118px;

      @include vp-767 {
        top: 96px;
        left: 218px;
        z-index: 1;

        width: 91px;
        height: 55px;
      }
    }

    div:nth-child(3) {
      top: 250px;
      left: 0;
      z-index: 1;

      width: 192px;
      height: 114px;

      @include vp-767 {
        display: none;
      }
    }

    div:nth-child(4) {
      top: 293px;
      left: 255px;
      z-index: 2;

      width: 194px;
      height: 118px;

      @include vp-767 {
        top: 36px;
        left: 277px;
        z-index: 2;

        width: 91px;
        height: 55px;

        background-color: $color-default-black;
      }
    }

    div:nth-child(5) {
      top: 182px;
      left: 436px;
      z-index: 1;

      width: 182px;
      height: 193px;

      @include vp-767 {
        top: 0;
        left: 363px;
        z-index: 1;

        width: 86px;
        height: 91px;
      }
    }

    div:nth-child(6) {
      top: 184px;
      left: 132px;
      z-index: 1;

      width: 233px;
      height: 45px;

      @include vp-767 {
        top: 53px;
        left: 120px;
        z-index: 1;

        width: 109px;
        height: 21px;
      }
    }

    div:nth-child(7) {
      top: 0;
      left: 312px;
      z-index: 1;

      width: 252px;
      height: 150px;

      @include vp-767 {
        top: 129px;
        left: 54px;
        z-index: 1;

        width: 145px;
        height: 86px;
      }
    }
  }
}
